<div id="gototopbtn_container" class="d-none">
  <div class="container d-flex flex-row">
    <div class="flex-grow-1"></div>
    <div class="go-to-top-btn bg-blue1" onclick="goToTop()">
      {% include icons/chevron-up-outline.svg %}
    </div>
  </div>
</div>

<footer class="d-flex flex-column" style="background-color: white; padding-top: 37px;">
  <div class="container d-none d-lg-block py-5">
    
    <!-- <div class="d-flex flex-row">
      
    </div> -->
    <div class="d-flex flex-row pt-4">

      
      <div class="flex-grow-1">
        <div class="w-25">
          <img src="{{ '/assets/OAX Logo - Circle.png' }}" alt="logo" style="max-width: 120px;">
          <br/>
          <br/>  
        </div>
        <div style="color: #14345E; font-weight: bold; font-size: 16px;">Copyright &copy; OAX Foundation 2025</div>
      </div>

      <div class="d-flex flex-column w-25" style="padding-left: 8%;">
        <div class="oax-links--footer" style="margin-top: 0">OAX ETHERSCAN LINK:</div>
        <div>
          <a href="https://etherscan.io/address/0x701c244b988a513c945973defa05de933b23fe1d" target="_blank">
            <img src="{{ '/assets/logo-ether.png' }}" alt="logo" width="160px">
          </a>
        </div>
        <div class="oax-links--footer">OAX BSCSCAN LINK:</div>
        <div>
          <a href="https://bscscan.com/address/0x31720b2276df3b3b757b55845d17eea184d4fc8f" target="_blank">
            <img src="{{ '/assets/logo-bscscan.svg' }}" alt="logo" width="160px">
          </a>
        </div>
      </div>

      <div class="d-flex flex-column w-25" style="padding-left: 8%;">
        <div class="social-media--label mr-4" style="color: #14345E; font-weight: bold; font-size: 16px;">OUR SOCIALS</div>
        <div class="d-flex flex-row" style="padding-top: 8px; padding-bottom: 16px;">
          {% include social-media.html %}
        </div>
        <a href="mailto:info@oax.org" style="color: #14345E; font-weight: bold; font-size: 16px;">info@oax.org</a>
      </div>


      <div class="d-flex flex-column w-25">
        <a href="{{ '/privacy' | prepend: site.url }}" style="text-align: right; color: #14345E; font-weight: bold; font-size: 16px; text-decoration: underline !important;" class="black5">Privacy Policy </a>
      </div>

    </div>


  </div>
  <div class="container d-lg-none pb-5" style="text-align: center;">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column align-items-center">
        <img src="{{ '/assets/oax-logo.png' }}" alt="logo" style="max-width: 120px;">
        <div style="color: #14345E; font-weight: bold; font-size: 16px; padding-top: 20px; padding-bottom: 28px;">Copyright &copy; OAX Foundation 2025</div>
        <div class="oax-links--footer" style="font-size: 16px">OAX ETHERSCAN LINK:</div>
        <div>
          <a href="https://etherscan.io/address/0x701c244b988a513c945973defa05de933b23fe1d" target="_blank">
            <img src="{{ '/assets/logo-ether.png' }}" alt="logo" width="185px">
          </a>
        </div>
        <div class="oax-links--footer" style="font-size: 16px">OAX BSCSCAN LINK:</div>
        <div>
          <a href="https://bscscan.com/address/0x31720b2276df3b3b757b55845d17eea184d4fc8f" target="_blank">
            <img src="{{ '/assets/logo-bscscan.svg' }}" alt="logo" width="185px">
          </a>
        </div>
      </div>
      <div>
        <div style="padding-top: 48px;">
          
          <div>
            <div class="social-media--label" style="color: #14345E; font-weight: bold; font-size: 16px;">OUR SOCIALS</div>
            <div class="d-flex flex-row py-3" style="display: inherit !important;">
              {% include social-media.html %}
            </div>
          </div>
          <div style="color: #14345E; font-weight: bold; font-size: 16px !important; padding-bottom: 48px;"><strong>info@oax.org</strong></div>

          <div>
            <a href="{{ '/privacy' | prepend: site.url }}" class="black5" style="color: #14345E; font-weight: bold; font-size: 16px; text-decoration: underline !important;">Privacy Policy </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/ycodetech/horizontal-timeline-2.0@2/JavaScript/horizontal_timeline.2.0.min.js"></script>
<script src="{{ '/assets/js/app.js' | prepend: site.url }}?{{ site.time | date: '%s%N' }}"></script>
