<div id="gototopbtn_container" class="d-none">
  <div class="container d-flex flex-row">
    <div class="flex-grow-1"></div>
    <div class="go-to-top-btn bg-blue1" onclick="goToTop()">
      {% include icons/chevron-up-outline.svg %}
    </div>
  </div>
</div>

<footer class="d-flex flex-column">
  <div class="container d-none d-lg-block py-5">
    
    <div class="d-flex flex-row">
      <div class="w-25">
        <img src="{{ '/assets/oax-logo.png' }}" alt="logo">
      </div>
    </div>
    <div class="d-flex flex-row pt-5">
      <div class="flex-grow-1">
        <div>Copyright &copy; OAX Foundation 2020</div>
        <div>
          <a href="{{ '/privacy' | prepend: site.url }}" class="black5">Privacy Policy </a>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div>Connect With Us</div>
        <div class="d-flex flex-row ml-2">
          {% include social-media.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="container d-lg-none pb-5 text-center">
    <div>
      <div><strong>info@oax.org</strong></div>
      <div>
        <div class="d-flex flex-row justify-content-center py-4">
          {% include social-media.html %}
        </div>
      </div>
      <div>Copyright &copy; OAX Foundation 2020</div>
      <div>
        <a href="{{ '/privacy' | prepend: site.url }}" class="black5">Privacy Policy </a>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{{ '/assets/js/app.js' | prepend: site.url }}"></script>