<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <span class="copyright">Copyright &copy; OAX Foundation 2019</span>
          </div>
          <div class="col-md-6">
            <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                    <a href="mailto: info@oax.org">
                      <i class="fas fa-envelope fa-3x"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                <a href="https://twitter.com/OAX_Foundation">
                  <i class="fab fa-twitter fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://discord.gg/ZH5YHkb">
                  <i class="fab fa-discord fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/oax-foundation">
                  <i class="fab fa-linkedin-in fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.reddit.com/r/OpenANX/">
                  <i class="fab fa-reddit fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://medium.com/@OAX_Foundation">
                  <i class="fab fa-medium fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://t.me/openanxteam">
                  <i class="fab fa-telegram fa-3x"></i>
                </a>
                </li>
              </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="{{ site.baseurl }}/privacy">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
</footer>
