<!-- Header Start -->
<header>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div id="navbar-header">
          <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/img/OAX-LOGO-BLUE-sm.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
              <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog">News</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/team">Team</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
