{% comment %}
<a class="mr-3" href="http://discord.gg/ZH5YHkb"><img src="{{ '/assets/svgs/discord.svg' }}" alt="discord"/></a>
{% endcomment %}
<a class="mr-3" href="https://www.linkedin.com/company/oax-foundation"><img src="{{ '/assets/svgs/linkedin.svg' }}" alt="linkedin"/></a>
<a class="mr-3" href="https://medium.com/@OAX_Foundation"><img src="{{ '/assets/svgs/medium.svg' }}" alt="medium"/></a>
<a class="mr-3" href="https://www.reddit.com/r/OpenANX/"><img src="{{ '/assets/svgs/reddit.svg' }}" alt="reddit"/></a>
<a class="mr-3" href="https://t.me/openanxteam"><img src="{{ '/assets/svgs/telegram.svg' }}" alt="telegram"/></a>
<a href="https://twitter.com/OAX_Foundation"><img src="{{ '/assets/svgs/twitter.svg' }}" alt="twitter"/></a>