{% comment %}
<a class="mr-3" href="http://discord.gg/ZH5YHkb"><img src="{{ '/assets/svgs/discord.svg' }}" alt="discord"/></a>
{% endcomment %}
<a class="mr-3" href="https://www.linkedin.com/company/oax-foundation"><img src="{{ '/assets/svgs/linkedin.svg' }}" alt="linkedin"/></a>
<a class="mr-3" href="https://oax-foundation.medium.com/"><img src="{{ '/assets/svgs/medium.svg' }}" alt="medium"/></a>
<a class="mr-3" href="https://www.reddit.com/r/OpenANX/"><img src="{{ '/assets/svgs/reddit.svg' }}" alt="reddit"/></a>
<a class="mr-3" href="https://t.me/openanxteam"><img src="{{ '/assets/svgs/telegram.svg' }}" alt="telegram"/></a>
<a class="mr-3" style="z-index: 2" href="https://twitter.com/OAX_Foundation"><img style="height: 30px" src="{{ '/assets/x.png' }}" alt="twitter"/></a>
<a class="mr-3" style="z-index: 2" href="https://www.facebook.com/oaxfoundation/"><img style="height: 32px" src="{{ '/assets/facebook.png' }}" alt="twitter"/></a>