.layout-page.grant-program{
    background-size: 100% 782px !important;

    #areas-of-evaluation,
    #grant-recipients{
        background-repeat: no-repeat;
        background-size: cover;
    }

    #areas-of-evaluation{
        background-image: url('/assets/grant-program/bg.jpg');
    }

    #grant-recipients{
        background-image: url('/assets/grant-program/bg2.jpg');

        a, a:hover, a:visited{
            color: var(--black1);
        }
    }

    #faq{
        background: url(/assets/grant-program/deco3.png) no-repeat left top, url(/assets/grant-program/deco4.png) no-repeat right bottom;
    }   

    .icon--caption{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }

    ul{
        li{
            .list--title{
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                color: var(--black1);
            }

            .list--content{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: var(--blue1);
                padding: 20px 0;
            }

            list-style: none;
            margin-bottom: 20px;

            &.blue-arrow {
                position: relative;
                cursor: pointer;
            }
            
            &.blue-arrow:before{
                content: "";
                position: absolute;
                left: -37px;
                top: 5px;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 17px solid var(--blue8)
            }
        }
    }
    
    .font-26{ font-size: 26px; line-height: 26px; }
    .font-18{ font-size: 18px; font-weight: 500; }
    .font-14{ font-size: 14px; }

    .list-style--letter-uppercase{
        ul { list-style-type: upper-alpha; }
    }
}

@media (min-width: 426px) {
    .layout-page.grant-program{
        #welcome{
            > div:first-child {
                background: transparent url(/assets/grant-program/deco1.png) no-repeat right center;
            }
            
            > div:nth-child(2) {
                background: transparent url(/assets/grant-program/deco2.png) no-repeat left center;
            }
        } 
    }
}

@media (max-width: 425px) {
    .layout-page.grant-program{
        .line{
            width: 116px;
        }
        
        #areas-of-evaluation,
        #faq,
        #grant-recipients{
            .section--title{
                font-size: 20px;
            }
        }

        ul{
            li{
                .list--content{
                    font-size: 18px;
                }
            }
        }
    }
}