.layout-page.about{
    .section{
        margin-bottom: 250px;
    }
}

@media (max-width: 768px) {
    .layout-page.about {
        background-size: 150%;

        .section {
            margin-bottom: 100px;
        }
    }
}