.layout-page.about{
    .section{
        // margin-bottom: 250px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #pillar1{
        .section--title{
            width: 217px;
        }
    }

    #pillar2{
        .section--title{
            width: 280px;
        }
    }
}

@media (max-width: 768px) {
    .layout-page.about {
        background-size: 150%;

        .section {
            margin-bottom: 100px;
        }
    }
}

.about-hero {
    background: url(/assets/about/about-oax-2.png) center center no-repeat;
    background-size: cover;
    min-height: 36vw;
    margin-bottom: 30px;
}

@media (max-width: 1620px) {
    .about-hero {
        background: url(/assets/about/about-oax-2.png) no-repeat;
        background-size: cover;
        min-height: 36vw;
    }
}

@media (max-width: 992px) {
    .about-hero {
        background: url(/assets/about/about-oax-2-mobile.png) center top no-repeat;
        background-size: cover;
        // min-height: 780px;
        min-height: 200vw;
    }
}
