.layout-page{
    &.index{
        // background: url('/assets/bg-gradient.1.png') top center no-repeat;
        // background-size: 130%;
    }
}

.page-home{

    .contact-us{
        form {
            & > div{
                margin-top: 33px;

                input, textarea{
                    border: none;
                    padding: 20px 20px;
                }

                input[type="submit"]{
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .events-content{
        transition: left 1s;

        // &::before {
        //     content: "";
        //     background-image: url(/assets/animated2.gif);
        //     height: 431px;
        //     width: 431px;
        //     position: absolute;
        //     mix-blend-mode: screen;
        //     background-repeat: no-repeat;
        //     background-size: contain;

        //     transition: left 2s;

        //     top: -270px;
        //     left: -64px;

        //     pointer-events: none;
        // }
    }

    .timeline-navigation{
        top: -8px;
    }

    .our-journey{
        background: url(/assets/bg-gradient.3.jpg) center center no-repeat;
        background-size: cover;

        .our-journey--timeline{
            margin-top: 60px;

            .events-content{
                margin-top: 60px;
            }
        }

        .our-journey--content{
            & > .border{
                border-color: var(--blue1) !important;
            }
        }

        .horizontal-timeline{
            .events{

                a:nth-child(2).selected::after,
                a:nth-child(4).selected::after,

                a:nth-child(7).selected::after,
                a:nth-child(8).selected::after,
                a:nth-child(10).selected::after,
                a:nth-child(11).selected::after,
                a:nth-child(18).selected::after{
                    background-color: var(--blue7) !important;
                }
                
                a:nth-child(3).selected::after,

                a:nth-child(5).selected::after,
                a:nth-child(9).selected::after,
                a:nth-child(6).selected::after,
                a:nth-child(12).selected::after,
                a:nth-child(13).selected::after,
                a:nth-child(14).selected::after,
                a:nth-child(15).selected::after,
                a:nth-child(16).selected::after,
                a:nth-child(17).selected::after,
                a:nth-child(19).selected::after{
                    background-color: var(--blue1) !important;
                }

            }
        }
        
        .our-journey--content{

            div{
                & > div:first-child{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.01em;

                    color: var(--blue1);
                }

                & > div:nth-child(2){
                    font-family: "Open Sans", sans-serif;
                    font-style: italic;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.01em;

                    &:not(.blue7){
                        color: var(--blue1);
                    }
                }

                & > div:nth-child(3){
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 161.68%;
                    /* or 26px */

                    color: var(--blue1);
                }

                & > div:nth-child(4){
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 161.68%;
                    /* or 21px */

                    color: var(--black1);
                }
            }

            .btn{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 134.77%;
                /* identical to box height, or 19px */

                color: var(--blue1);
            }
        }
    }

    .cta1{
        position: relative;

        & > div:first-child > div{
            width: 60%;
        }

        .animated1{
            pointer-events: none;
            // background-image: url(/assets/hologram-1.png);
            background-size: cover;
            transform-origin: center;  
            height: 500px;
            width: 500px;
            background-repeat: no-repeat;
            background-position: 100% 100%;
            position: absolute;
            top: -500px;
            transition: right 50ms;
            z-index: 5;
        }
    }

    .quote1{
        .quote1--background{
            background-color: white;
        }

        .quote1--text{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 55px;
            letter-spacing: 0.025em;
        
            strong{
                color: var(--blue1);
            }

            img{
                vertical-align: baseline;
                width: 45px;
            }
        }
        
        .quote1--person{
            strong{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
            }
        
            small{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
    
    .highlight-title{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: var(--blue1);
    }
    
    .highlight-desc{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 193.18%;
        color: var(--black2);
    }

    .oax-highlights{
        background-image: url('/assets/bg.1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .latest-updates{
        padding-top: 72px;
        padding-bottom: 72px !important;

        .subheading{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 41px;
        }
    
        .next-subheading{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
        }

        .latest-updates--posts{            
           & > div{
                width: 32%;
                background-color: #fff;

                .latest-updates--post-image{
                    img{
                        width: 100%;
                    }
                }
           }

           .latest-updates--post-group{
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 112.12%;
           }

           .latest-updates--post-title{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 135.12%;
                /* or 32px */
                
                min-height: 95px;
           }

           .latest-updates--post-date{
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 112.12%;
                /* or 11px */
                
                letter-spacing: 0.015em;
           }

           .latest-updates--post-author{
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 112.12%;
                /* or 13px */

                letter-spacing: -0.015em;
           }
        }

    }

    .contact-us{
        background-image: url('/assets/bg-gradient.2.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;

        margin-top: -300px;
        padding-top: 200px;
        padding-bottom: 350px;
        margin-bottom: -350px;

        .contact-us--title{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            color: var(--blue1);
        }

        .contact-us--subtitle{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 177.12%;
            color: var(--black1);
        }

        .contact-us--connect-with-us{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 177.12%;
            color: var(--blue1);
        }

        .contact-us--email{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 177.12%;
        }
    }
    .eventCard {
        background: #fff;
        border: 0;
        // width: 258px;
        // min-height: 110px;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        color: #121212;
        display: flex !important;
        height: 100%;
        justify-content: flex-start;
    }  
    .eventCardTitle {
        font-weight: 600;
        border-radius: 20px;
        background-color: #FFECE3;
        color: #14345E;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        width: fit-content;
    }
    .eventCardPostTitle {
        font-weight: bold;
        color: #14345E;
    }
    .timeline__item__inner {
        border: 4px solid #14345E;
        border-radius: 8px;
    }
    .eventCardBtn {
        background-color: #14345E;
        color: #fff;
    }
    .timeline--horizontal .timeline__item--top .timeline__content:before {
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 16px solid #14345E;
    }
    .timeline--horizontal .timeline__item--bottom .timeline__content:before {
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #14345E;
    }
    .timeline-nav-button {
        background-color: #14345E;
    }
    .timeline--horizontal {
        padding: 0 3.17rem;
    }
}

@media (min-width: 768px) {
    .layout-page{
        .page-title{
            margin-bottom: 25px;
        }
        
        .page-subtitle{
            width: 69%;
        }

        .page-home{
            .our-journey--content{
                width: 285px;
            }
    
            .events-content{
        
                &:not(.next-event){
                    left: 0 !important;
            
                    &::before{
                        left: -164px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .layout-page{
        .page-home{
            .page-title{
                font-size: 55px;
                line-height: 66px;
            }
        }
    }

}

@media (min-width: 1440px) {
    .layout-page{
        .cta1{
            .container{
                & > div{
                    // margin-left: 120px;
                }
            }
        }

        .quote1{
            .quote1--text,
            .quote1--person{
                margin-left: 120px;
            }
        }
    }
}

.home-hero {
    background: linear-gradient(101.65deg, #599EF9 -13.59%, #C0DAFD 15.52%, #FFFFFF 43.23%, #F3E9FF 67.74%, #DABCFF 99.44%);
    background-size: cover;
    min-height: 520px;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .home-hero {
        background-image: url(/assets/home/bg.0.mobile.jpg);
        background-size: cover;
        min-height: 100vw;
        background-position-y: 30%;
    }

    .home-hero-image {
        display: none;
    }
}

@media (max-width: 768px) {
    .home-hero {
        min-height: 150vw;
    }
}

@import 'page-home-small';
