.layout-page{
    &.index{
        background: url('/assets/bg-gradient.1.jpg') top center no-repeat;
        background-size: contain;
    }
}

.page-home{

    .events-content{
        transition: left 1s;

        &::before {
            content: "";
            background-image: url(/assets/animated2.gif);
            height: 431px;
            width: 431px;
            position: absolute;
            mix-blend-mode: screen;
            background-repeat: no-repeat;
            background-size: contain;

            transition: left 2s;

            top: -270px;
            left: -64px;

            pointer-events: none;
        }
    }

    .timeline-navigation{
        top: 0;
    }

    .our-journey{
        background: url(/assets/bg-gradient.3.jpg) center center no-repeat;
        background-size: cover;

        .our-journey--timeline{
            margin-top: 60px;

            .events-content{
                margin-top: 60px;
            }
        }

        .our-journey--content{
            & > .border{
                border-color: var(--blue1) !important;
            }
        }

        .horizontal-timeline{
            .events{

                a:nth-child(2).selected::after,
                a:nth-child(4).selected::after,
                a:nth-child(5).selected::after,
                a:nth-child(6).selected::after,
                a:nth-child(7).selected::after,
                a:nth-child(8).selected::after,
                a:nth-child(9).selected::after,
                a:nth-child(12).selected::after,
                a:nth-child(15).selected::after,
                a:nth-child(16).selected::after{
                    background-color: var(--blue1);
                }
                
                a:nth-child(3).selected::after,
                a:nth-child(10).selected::after,
                a:nth-child(11).selected::after,
                a:nth-child(13).selected::after,
                a:nth-child(14).selected::after{
                    background-color: var(--blue7);
                }

            }
        }
        
        .our-journey--content{

            div{
                & > div:first-child{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.01em;

                    color: var(--blue1);
                }

                & > div:nth-child(2){
                    font-family: "Open Sans", sans-serif;
                    font-style: italic;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.01em;

                    &:not(.blue7){
                        color: var(--blue1);
                    }
                }

                & > div:nth-child(3){
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 161.68%;
                    /* or 26px */

                    color: var(--blue1);
                }

                & > div:nth-child(4){
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 161.68%;
                    /* or 21px */

                    color: var(--black1);
                }
            }

            .btn{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 134.77%;
                /* identical to box height, or 19px */

                color: var(--blue1);
            }
        }
    }

    .cta1{
        position: relative;

        & > div:first-child > div{
            width: 60%;
        }

        .animated1{
            pointer-events: none;
            background-image: url(/assets/animated.gif);
            background-size: cover;
            transform-origin: center;
            transform: rotate(-57deg);
            height: 700px;
            width: 700px;
            background-repeat: no-repeat;
            background-position: 100% 100%;

            position: absolute;
            top: -500px;
            right: -20%;

            transition: right 50ms;
        }
    }

    .quote1{
        .quote1--background{
            background: url('/assets/deco.2.png') left 0% no-repeat, 
                url('/assets/deco.1.png') 142% 100% no-repeat;
        }

        .quote1--text{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 55px;
            letter-spacing: 0.025em;
        
            strong{
                color: var(--blue1);
            }

            img{
                vertical-align: baseline;
                width: 45px;
            }
        }
        
        .quote1--person{
            strong{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
            }
        
            small{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
    
    .highlight-title{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: var(--blue1);
    }
    
    .highlight-desc{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 193.18%;
        color: var(--black2);
    }

    .oax-highlights{
        background-image: url('/assets/bg.1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .latest-updates{
        padding-top: 125px;
        padding-bottom: 305px;

        .subheading{
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 41px;
        }
    
        .next-subheading{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
        }

        .latest-updates--posts{            
           & > div{
                width: 32%;
                background-color: #fff;

                .latest-updates--post-image{
                    img{
                        width: 100%;
                    }
                }
           }

           .latest-updates--post-group{
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 112.12%;
           }

           .latest-updates--post-title{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 135.12%;
                /* or 32px */
                
                min-height: 95px;
           }

           .latest-updates--post-date{
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 112.12%;
                /* or 11px */
                
                letter-spacing: 0.015em;
           }

           .latest-updates--post-author{
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 112.12%;
                /* or 13px */

                letter-spacing: -0.015em;
           }
        }

    }

    .contact-us{
        background-image: url('/assets/bg-gradient.2.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;

        margin-top: -300px;
        padding-top: 200px;
        padding-bottom: 250px;

        .contact-us--title{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            color: var(--blue1);
        }

        .contact-us--subtitle{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 177.12%;
            color: var(--black1);
        }

        .contact-us--connect-with-us{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 177.12%;
            color: var(--blue1);
        }

        .contact-us--email{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 177.12%;
        }
    }
}

@media (min-width: 768px) {
    .layout-page{
        .page-subtitle{
            width: 69%;
        }

        .page-home{
            .our-journey--content{
                width: 285px;
            }
    
            .events-content{
        
                &:not(.next-event){
                    left: 0 !important;
            
                    &::before{
                        left: -164px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .layout-page{
        .page-home{
            .page-title{
                font-size: 55px;
            }
        }
    }

}

@import 'page-home-small';