@media (max-width: 768px) and (min-width: 425px) {
    .page-home .cta1 .animated1{
        top: -361px;
        right: -400px;
    }
}

@media (max-width: 768px) {
    .layout-page{
        &.index{
            background-image: url(/assets/bg-gradient.1.xs.jpg);
            background-size: 143%;

            .page-title{
                font-size: 202%;
            }
        }

    }
    
    .page-home{
        .timeline-navigation#leftNav,
        .timeline-navigation#rightNav{
            top: -27px !important;
        }

        .our-journey{
            background: url(/assets/bg-gradient.3.small.jpg) center center no-repeat;
            background-size: 128%;

            .our-journey--content{

                div{
                    & > div:first-child{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: 0.01em;
    
                        color: var(--blue1);
                    }
    
                    & > div:nth-child(2){
                        font-family: "Open Sans", sans-serif;
                        font-style: italic;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.01em;
    
                        color: var(--blue1);
                    }
    
                    & > div:nth-child(3){
                        font-family: "Open Sans", sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 161.68%;
                        /* or 26px */
    
                        color: var(--blue1);
                    }
    
                    & > div:nth-child(4){
                        font-family: "Open Sans", sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 161.68%;
                        /* or 21px */

                        color: var(--black1);
                    }
                }

                .btn{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 134.77%;
                    /* identical to box height, or 19px */

                    color: var(--blue1);
                }
            }
        }

        .cta1{
            position: relative;
            overflow: hidden;

            & > div:first-child > div{
                width: 76%;
            }
    
            .animated1{
                transform: rotate(-57deg) scale(1.4);  
                right: -80%;              
            }
        }
        .quote1{
            .quote1--text{
                font-style: normal;
                font-weight: bold;
                font-size: 95%;
                line-height: 25px;
                /* or 159% */

                img{
                    width: 21px;
                }
            }

            .quote1--background{
                background: none;
            }
        }

        .highlights > *{
            flex: 1;
        }

        .oax-highlights{
            background-image: url('/assets/bg.1.xs.jpg');
        }

        .latest-updates{
            .subheading{
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
            }

            .nextsubheading{
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
            }

            .latest-updates--posts{
                & > div{
                    width: auto;
                    background-color: transparent;
                }
                
                & > div:not(:last-child) {
                    border-bottom: 1px solid var(--black4);
                }

                & > div {

                    & > div:nth-child(1){

                        img{
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & > div:nth-child(2){
                    }
                }
            }

            .latest-updates--post-title{
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 135.12%;
                /* or 19px */
            }

            .latest-updates--post-group{
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 112.12%;
                /* or 11px */

                letter-spacing: 0.015em;

                color: var(--blue2);

                & + div{
                    display: inline-flex;
                }
            }

            .latest-updates--post-date{
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 112.12%;
                /* or 11px */

                letter-spacing: 0.015em;

                color: var(--black3);
            }

            .latest-updates--post-author{
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 112.12%;
                /* or 11px */

                letter-spacing: -0.015em;

                color: var(--black3);
            }
        }

        .contact-us{
            .contact-us--title{
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                text-align: center;
            }

            .contact-us--subtitle{
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 177.12%;
                /* or 35px */
                text-align: center;
            }

            .contact-us--consent{
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 166.18%;
            }

            input[type="submit"]{
                display: block;
                margin: 0 auto;
            }
        }
    }
}