{% for item in list %}    
    <div class="mb-4">
        <div class="content--title gradient4 px-3 px-lg-4 py-2 py-lg-3 corner2 d-flex flex-row" style="cursor: pointer;">
            <div class="flex-grow-1 d-flex flex-row align-items-center">
                {% if item.icon %}
                <div class="pr-2">
                    <img src="{{ item.icon | prepend: site.url }}" alt="{{ item.title }}">
                </div>
                {% endif %}
                <div class="flex-grow-1 d-flex flex-column">
                    {% if item.subtitle %}
                        <div class="mb-2 content--title-text">
                            {% if item.show_order %}{{ item.order }}.&nbsp;{% endif %}
                            {{ item.title }}
                        </div>
                        <div class="content--subtitle-text">{{ item.subtitle }}</div>
                    {% else %}
                        <div class="content--title-text">
                            {% if item.show_order %}{{ item.order }}.&nbsp;{% endif %}
                            {{ item.title }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab--icon d-flex flex-row align-items-center">
                <div>{% include icons/minus.svg %}</div>
                <div>{% include icons/plus.svg %}</div>
            </div>
        </div>
        <div class="d-none">
            <div class="content--body p-4">{{ item.content | markdownify }}</div>
            <div class="d-flex flex-row flex-wrap pb-2">
                {% if item.annoucement_link %}
                <a class="content--link btn btn-default" href="{{ item.annoucement_link }}">Announcement
                </a>
                {% endif %}
                {% if item.sourcecode_link %}
                <a class="content--link btn btn-default" href="{{ item.sourcecode_link }}">Source Code
                </a>
                {% endif %}
                {% if item.testnet_announcement_link %}
                <a class="content--link btn btn-default" href="{{ item.testnet_announcement_link }}">Testnet Announcement
                </a>
                {% endif %}
                {% if item.full_feature_post_link %}
                <a class="content--link btn btn-default" href="{{ item.full_feature_post_link }}">Full Feature Post
                </a>
                {% endif %}
                {% if item.full_feature_video_link %}
                <a class="content--link btn btn-default" href="{{ item.full_feature_video_link }}">Full Feature Video
                </a>
                {% endif %}
                {% if item.multitransfer_post_link %}
                <a class="content--link btn btn-default" href="{{ item.multitransfer_post_link }}">MultiTransfer Post
                </a>
                {% endif %}
                {% if item.multitransfer_video_link %}
                <a class="content--link btn btn-default" href="{{ item.multitransfer_video_link }}">MultiTransfer Video
                </a>
                {% endif %}
                {% if item.atomic_swap_post_link %}
                <a class="content--link btn btn-default" href="{{ item.atomic_swap_post_link }}">Atomic Swap Post
                </a>
                {% endif %}
                {% if item.atomic_swap_video_link %}
                <a class="content--link btn btn-default" href="{{ item.atomic_swap_video_link }}">Atomic Swap Video
                </a>
                {% endif %}
                {% if item.burn_post_link %}
                <a class="content--link btn btn-default" href="{{ item.burn_post_link }}">Burn Post
                </a>
                {% endif %}
                {% if item.burn_video_link %}
                <a class="content--link btn btn-default" href="{{ item.burn_video_link }}">Burn Video
                </a>
                {% endif %}
                {% if item.erc20_post_link %}
                <a class="content--link btn btn-default" href="{{ item.erc20_post_link }}">ERC-20 Post
                </a>
                {% endif %}
                {% if item.erc20_video_link %}
                <a class="content--link btn btn-default" href="{{ item.erc20_video_link }}">ERC-20 Video
                </a>
                {% endif %}
                {% if item.fee_delegation_post_link %}
                <a class="content--link btn btn-default" href="{{ item.fee_delegation_post_link }}">Fee Delegation Post
                </a>
                {% endif %}
                {% if item.fee_delegation_video_link %}
                <a class="content--link btn btn-default" href="{{ item.fee_delegation_video_link }}">Fee Delegation Video
                </a>
                {% endif %}
                {% if item.summary_link %}
                <a class="content--link btn btn-default" href="{{ item.summary_link }}">Summary
                </a>
                {% endif %}
                {% if item.fullversion_link %}
                <a class="content--link btn btn-default" href="{{ item.fullversion_link }}">Full Version
                </a>
                {% endif %}
                {% if item.protocol_paper_link %}
                <a class="content--link btn btn-default" href="{{ item.protocol_paper_link }}">Protocol Paper
                </a>
                {% endif %}
                {% if item.l2x_video_link %}
                <a class="content--link btn btn-default" href="{{ item.l2x_video_link }}">L2X Video
                </a>
                {% endif %}
                {% if item.abridged_version_link %}
                <a class="content--link btn btn-default" href="{{ item.abridged_version_link }}">Abridged Version
                </a>
                {% endif %}
                {% if item.summary_part1_link %}
                <a class="content--link btn btn-default" href="{{ item.summary_part1_link }}">Summary Part One
                </a>
                {% endif %}
                {% if item.summary_part2_link %}
                <a class="content--link btn btn-default" href="{{ item.summary_part2_link }}">Summary Part Two
                </a>
                {% endif %}
                {% if item.qa_part1_link %}
                <a class="content--link btn btn-default" href="{{ item.qa_part1_link }}">Q&A Part One
                </a>
                {% endif %}
                {% if item.qa_part2_link %}
                <a class="content--link btn btn-default" href="{{ item.qa_part2_link }}">Q&A Part Two
                </a>
                {% endif %}
                {% if item.part1_link %}
                <a class="content--link btn btn-default" href="{{ item.part1_link }}">Part One Article
                </a>
                {% endif %}
                {% if item.part2_link %}
                <a class="content--link btn btn-default" href="{{ item.part2_link }}">Part Two Article
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}