<div class="contact-us--subtitle mb2" style="font-weight: bold;">Fill in the form below and we’ll get<br/>back to you as soon as we can!</div>
<style>
    textarea::placeholder, input[type="text"]::placeholder, input[type="email"]::placeholder {
                color: #14345E !important;
                font-style: italic;
    }
</style>
<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfZBr4jOXlKwv2ytaZ8VH4ZhMS8lQfD5NEAwp9UJP-Rcw5S5Q/formResponse" method="POST">
    <div class="input-group"><input type="text" name="entry.1407423255" placeholder="Name" class="form-control"/>
    </div>
    <div class="input-group"><input type="email" name="emailAddress" placeholder="Email Address" class="form-control"/>
    </div>
    <div class="input-group">
        <textarea name="entry.1230842183" id="message" cols="30" rows="10" placeholder="Your Message" class="form-control"></textarea>
    </div>
    <div class="input-group"><input type="text" name="entry.695689495" placeholder="MATH CAPTCHA: What is 3 +3?" class="form-control"/>
    </div>
    <div style="text-align: center !important;">
        <input type="submit" value="Submit" class="btn btn-default button-primary px-5 py-3"/>
    </div>
</form>
<div class="contact-us--consent">
    <div class="mt-4"><strong>*By clicking 'Submit', you are consenting to the collection and use of your personal information. </strong></div>
    <div class="mt-0 mt-lg-4 pb-5 black1">All personal data provided in this Contact Form will only be used for purposes which are directly related to this enquiry. You have the right to request access to and correction of your personal data held by us. Request for access or correction should be made in writing to our Data Protection Officer at info@oax.org. The personal data submitted may be transferred to a relevant third party for the purpose of and during the handling of your enquiry. Please visit our “OAX Foundation Privacy Policy” for details of our privacy policy.</div>
</div>