<div class="member d-flex flex-column">
    <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center px-3">
        <div class="member--title align-self-end pt-3 pb-3 pr-2">{{ member.title }}</div>
        <div class="member--photo d-flex flex-row justify-content-center mt-1 mt-lg-0">
            <img src="{{ member.photo | prepend: site.url }}" alt="member photo">
        </div>
        <div class="member--name mt-3 mt-lg-4">{{ member.name }}</div>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <div class="expand-button d-flex flex-row justify-content-center align-items-center"
            {% if member.description %}
            {% else %}
            style="visibility: hidden;"
            {% endif %}>+</div>
    </div>
    {% if member.description %}
    <div class="member--description p-4 d-none">{{ member.description }}
    </div>
    {% endif %}
</div>