---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="d-flex flex-column">
    <header>
      <div class="container d-flex flex-row">
        <div class="mr-1">
          {%- include elements/tag-label.html -%}
        </div>
        <div class="mr-1">
          <img src="{{ '/assets/triangle.jpg' }}" alt="arrow">
        </div>
        <div>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
        </div>
      </div>
      <div class="container">
        {%- assign page_path = page.relative_path |  split: '/' | last | split: '.md' | first | split: '-' -%}
        {%- assign page_title = "" -%}
        {% for path in page_path offset: 3 %}
          {%- assign page_title = page_title | append: path | append: " " -%}
        {% endfor %}
        {% assign page_title = page_title | strip %}
        <h1 itemprop="name headline">{{ page_title | escape }}</h1>
        <div style="margin-top: 30px; margin-bottom: 60px;">
          {% include elements/seperator.html %}
        </div>
      </div>
    </header>
    
    <div class="post-content container mb-5" itemprop="articleBody">
      {% comment %}
      {% if page.image %}
      <img class="w-100 mb-3" src="{{ page.image | prepend: site.url }}" alt="image">
      {% endif %}
      {% endcomment %}
      
      {{ content }}
    </div>

    <div class="container d-flex flex-column mt-2">
      {% include elements/seperator.html %}
      <div class="d-flex flex-row mt-2 pt-2 pb-4">
        <div>By OAX Foundation </div>
        <div class="d-flex flex-row flex-grow-1 justify-content-end">
          <div class="mr-3">Share:</div>
          <div class="d-flex flex-row">
            <!-- <a class="mr-3"><img src="{{ '/assets/svgs/discord.svg' }}" alt="discord"/></a> -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url }}" class="mr-3" target="_blank"><img src="{{ '/assets/svgs/linkedin.svg' }}" alt="linkedin"/></a>
            <!-- <a class="mr-3"><img src="{{ '/assets/svgs/medium.svg' }}" alt="medium"/></a> -->
            <a href="https://twitter.com/intent/tweet?text={{ page.url | prepend: site.url }}" target="_blank"><img style="height: 28px" src="{{ '/assets/x.png' }}" alt="twitter"/></a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row row">
        <div class="col">
          {% if page.previous %}
          <a href="{{ page.previous.url }}">&lt; Previous</a>
          {% endif %}
        </div>
        <div class="col d-flex flex-row justify-content-end">
          {% if page.next %}
          <a href="{{ page.next.url }}">Next &gt;</a>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</article>
